/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible";

// colors

$title-font:"Yomogi";
$main-color:#524FA1; /*#401487;*/
$font-color:white;
$light-color:#fff1d9; /*fafafad9;*/
$main-font:"IBM Plex Sans";

$navbar-bg: #524fa1;
$navbar-fg: #F0F0F0;

$link-color: #ae8b2d;
$hover-color: lighten($link-color, 40%);

/*-- scss:rules --*/
.card-header {
  background-color: #59C1A5;
  font-size: 120%;
  color: white;
}

.nav-item > a:hover {
  color: #ae8b2d;
}

.nav-link{
  color: #F0F0F0;
}


div.callout-note.callout {
  border-left-color: #0e2635;
}

div.callout-note.callout-style-default>.callout-header {
  background-color: #9ea8ae;
}

.sidebar form {
  flex-direction:column;
}

.bslib-card .card-body+.card-body {
    height: 70%!important;
}


.navbar-logo {
  border-radius:100%!important;
}

.navbar-title {
  font-family:Yomogi;
  text-transform:uppercase;
}

.quarto-dashboard.dashboard-sidebar>.page-layout-custom>.bslib-sidebar-layout>.sidebar {
    padding-left: 1em;
    padding-right: 1em;
    background: $light-color;
}

body {
  font-family:$main-font!important;
}

.navbar {
  background-color:$main-color!important;
}


.quarto-dashboard .card.valuebox.bslib-card.bg-light {
    background-color: $light-color!important;
    color: $main-color!important;
}



h3 {
  background-color: #524FA1;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  &::before {
    content: "📊 ";
    margin-right: 8px;
  }
}
















